.container {
    position: relative;
    padding: 56px 0;
    color: var(--white-text);

    @media (min-width: 960px) {
        padding: 72px 0;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

.title {
    font-size: 24px;
    font-weight: var(--semibold);
    line-height: 110%;
    color: var(--color-text-black);

    @media (min-width: 960px) {
        max-width: 740px;
        font-size: 48px;
    }
}
