img {
    cursor: pointer;
}

.container {
    background-color: var(--color-violet);
    color: var(--color-white);
    width: 100%;
    padding: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: min-content;
    border-bottom: 2px solid var(--color-violet-border);

    @media (min-width: 640px) {
        padding: 16px 32px;
    }

    @media (min-width: 960px) {
        padding: 16px 42px;
        grid-template-columns: 1fr auto auto auto auto;
        column-gap: 48px;
    }
}

.logo {
    justify-items: start;

    @media (min-width: 640px) {
        width: 117px;
        height: 117px;
    }
}

.account_mobile {
    justify-items: end;
    margin-right: 18px;

    @media (min-width: 960px) {
        display: none;
    }
}

.account {
    display: none;

    @media (min-width: 960px) {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.burger {
    display: block;
    width: 40px;
    height: 22px;
    justify-items: end;

    @media (min-width: 960px) {
        display: none;
    }
}

.contacts {
    display: none;

    @media (min-width: 960px) {
        display: block;
    }

}

.about {
    display: none;

    @media (min-width: 960px) {
        display: block;
    }

}

.courses {
    display: none;

    @media (min-width: 960px) {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

    img {
        user-select: none;
        transition: transform .4s;
    }
}

.arrowRotate {
    transform: rotateZ(180deg);
}