img {
    cursor: pointer;
}

.container {
    position: fixed;
    top: 0px;
    left: 101vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-violet);
    font-size: 18px;
    color: var(--color-white);
    font-weight: var(--semibold);
    overflow-y: scroll;
    z-index: 2;
    transition: left .6s;

    @media (min-width: 960px) {
        display: none;
    }
}

/* TODO пофиксить ширину перехода в хедере и в других местах на десктоп */

.showContainer {
    left: 0px;
}

.close {
    display: block;
    margin-left: auto;
    margin-right: 16px;
    height: 50px;
    width: 50px;
}

.content {
    margin-top: 32px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logIn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.courses {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        user-select: none;
        transition: transform .4s;
    }
}

.arrowRotate {
    transform: rotateZ(180deg);
}

.listCourses {
    overflow: hidden;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 0px;
    transition: max-height .4s;
}

.hidden {
    max-height: 400px;
}

.requisites {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-top: 2px solid var(--color-violet-border);
}

.innOrgn {
    padding: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    border-bottom: 2px solid var(--color-violet-border);
}

.numberEmail {
    display: flex;
    flex-direction: column;
    padding: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 2;
    /* justify-self: center; */
    border-left: 2px solid var(--color-violet-border);
    border-bottom: 2px solid var(--color-violet-border);

}

.socialNetwork {
    padding: 25px 16px;
    /* justify-self: center; */
    display: flex;
    justify-content: end;
    gap: 8px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-start: 3;
    border-left: 2px solid var(--color-violet-border);
}


.containerDesktop {
    display: none;

    @media (min-width: 960px) {
        position: absolute;
        top: -740px;
        left: 0px;
        width: 100%;
        padding: 96px 128px 96px;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 24px;
        background-color: var(--color-violet);
        font-size: 26px;
        color: var(--color-white);
        font-weight: var(--semibold);
        z-index: 2;
        transition: top .6s;

        p:hover {
            cursor: pointer;
            color: var(--color-text-gray-lihght);
        }
    }
}

.showContainerDesktop {
    top: 151px;
}