.container {
    position: relative;
    padding: 52px 0;
    color: var(--white-text);

    @media (min-width: 640px) {
        padding: 80px 0;
    }
}

.branch {
    position: absolute;
    width: 413px;
    height: 516px;
    min-width: 413px;
    min-height: 516px;
    top: 98px;
    /* TODO поправить отсиуп у ветки */
    right: -142px;
    /* right: -192px; */

    @media (min-width: 640px) {
        width: 517px;
        height: 648px;
        top: 2px;
        right: -196px;
    }

    @media (min-width: 1360px) {
        top: 0px;
        right: -170px;
    }
}

.title {
    font-size: 39px;
    font-weight: var(--semibold);
    line-height: 100%;

    @media (min-width: 640px) {
        font-size: 45px;
    }

    @media (min-width: 1360px) {
        font-size: 72px;
        width: 1200px;
    }
}

.text {
    margin: 28px 0 32px;
    font-size: 18px;
    font-weight: var(--medium);

    @media (min-width: 640px) {
        margin: 21px 0 48px;
    }

    @media (min-width: 1360px) {
        font-size: 20px;
        line-height: 125%;
        width: 760px;
    }
}

.btn {
    width: 100%;

    @media (min-width: 640px) {
        width: 368px;
    }
}