.container {
    position: relative;

    @media (min-width: 640px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (min-width: 960px) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "content img"
        ;
        justify-content: space-between;
        align-items: center;
        column-gap: 64px;
    }
}

.content {
    @media (min-width: 960px) {
        grid-area: content;
    }
}

.img {
    width: 100%;
    height: 100%;

    @media (min-width: 960px) {
        width: 398px;
        height: 500px;
    }
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: var(--semibold);
    line-height: 100%;
    color: var(--color-text-black);

    @media (min-width: 640px) {
        font-size: 38px;
        margin-top: 48px;
        margin-bottom: 40px;
    }

    @media (min-width: 960px) {
        font-size: 48px;
    }
}

.text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 125%;
    color: var(--color-text-gray);

    @media (min-width: 640px) {
        font-size: 20px;
        margin-bottom: 48px;
    }

    @media (min-width: 960px) {
        margin: 0;
        max-width: 1100px;
        margin-bottom: 48px;
    }
}

.btn {
    @media (min-width: 960px) {
        justify-self: start;
        width: auto !important;
        padding: 14px 28px 16px !important;
    }
}