.footer {
    width: 100%;
    margin-top: 50px;
    padding: var(--padding-mobile-container);
    background-color: var(--color-violet);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "words words"
        "inn contact"
        "socialNetwork socialNetwork"
    ;

    @media (min-Width: 640px) {
        padding: var(--padding-tablet-container);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "words words words"
            "inn contact socialNetwork"
        ;
    }

    @media (min-Width: 1360px) {
        padding: var(--padding-desktop-container);
        grid-template-columns: 1fr 300px 300px;
    }
}

.socialNetwork {
    grid-area: socialNetwork;
    width: 100%;
    padding: 25px 15px;
    border-top: 2px solid var(--color-violet-border);
    display: flex;
    justify-content: end;
    gap: 8px;

    @media (min-Width: 640px) {
        gap: 5%;
        border-top: none;
        justify-content: center;
        align-items: center;

        img {
            height: 35px;
            width: 35px;
        }
    }

    @media (min-Width: 1340px) {
        img {
            height: 60px;
            width: 60px;
        }
    }
}

.inn {
    color: var(--color-white);
    grid-area: inn;
    width: 100%;
    padding: 24px 16px;
    border-right: 2px solid var(--color-violet-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;

    p {
        width: 140px;
    }

    @media (min-Width: 640px) {
        padding: 24px 32px;
        gap: 2px;

        p {
            width: 188px;
        }
    }

    @media (min-Width: 1340px) {
        padding: 56px 32px;

        p {
            width: 280px;
        }
    }
}

.contact {
    grid-area: contact;
    color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words {
    width: 100%;
    grid-area: words;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--color-violet-border);

    img {
        width: calc(100% - 64px);
    }
}